<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">Upload a .txt File</div>
      <div class="panel-body">
        <!--form-->
        <div class="row">
            <%= form_tag upload_path, method: :post, multipart: true, class: "form-inline" do %>
              <div class="col-lg-6">
                <div class="form-group">
                  <%= label_tag :file %>
                  <%= file_field_tag :file, class: "form-control" %>
                </div>
              </div>
              <!-- upload button -->
              <div class="col-lg-2">
                  <%= submit_tag "Upload file", class: "btn btn-primary" %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

